body {
    margin: 0;    
    background-color: #DDFFBB;
}

h1 {
    font-size: 2.5rem;
}

.sub-heading {
    font-size: 2.3rem;
}

h3 {
    font-size: 1.6rem;
}

/*********************** CLASS SELECTORS **********************/

.content-data {
    font-size: 1.3rem;;
}

.colored-section {
    background-color: #DDFFBB;
    margin: 10px 100px;
}

.child {
    display: inline-block;
    padding: 1rem 1rem;
}

.example {
    font-weight: bold;
}

.first-child {
    padding: 0;
}

.parent {
    padding: 0;
    margin: 0;
}

.white-colored {
    background-color: #fff;
    padding: 100px 100px;
}

